:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --php: #4d588e;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #01c5c4;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #0bceaf;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #ffffff;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-courier: "Courier Prime", monospace;
}

/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-courier);
  font-optical-sizing: auto;
  background-color: black;
  color: #ffffff;
  cursor: url("/assets/img/kuromi.cur");
}

/* Loading Page Styles */
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
}

.loading img {
  max-width: 350px;
  max-height: 350px;
}

.loading .percentage {
  margin-top: 20px;
  font-size: 24px;
}


.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin: 0 10px;
  color: white;
  /* Black icons */
  font-size: 24px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #e83e8c;
  /* Neon pink on hover */
}

/* Header styles */
header {
  background-color: #000000; /* Fondo negro */
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}

/* Navbar styles */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Espacio alrededor del contenido del navbar */
  color: #fff; /* Color del texto del menú */
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #e20e8d;
  text-shadow: 2px 2px #333333;

}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px; /* Espacio entre los elementos del menú */
}

.nav-links a {
  text-decoration: none;
  color: #fff; /* Color del texto de los enlaces */
  font-size: 1em;
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.nav-links a:hover {
  color: #e20e8d; /* Color de texto cuando se pasa el ratón sobre el enlace */
}

/* Mobile menu toggle */
.menu-toggle {
  display: none; /* Ocultar el menú de toggle en pantallas grandes */
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.3s;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Oculta el menú en pantallas pequeñas */
    flex-direction: column;
    width: 100%;
    background-color: #000; /* Fondo del menú en pantallas pequeñas */
    position: absolute;
    top: 60px; /* Ajusta el valor si es necesario */
    left: 0;
  }

  .nav-links.active {
    display: flex; /* Muestra el menú cuando está activo */
  }

  .menu-toggle {
    display: flex; /* Muestra el menú de toggle en pantallas pequeñas */
    flex-direction: column;
    cursor: pointer;
  }
}
/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */

/*Social*/

#toggle-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #e20e8d;
  color: black;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
}


/* Portfolio Page Styles */
.content {
  padding-top: 60px;
}

/* Sobre mí Section */
.about-me {
  background-color: #0A0A0A;
  padding: 60px 20px;
  color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.about-me .profile-container {
  flex-basis: 30%; /* Set the width of the image container */
  text-align: center; /* Center the image horizontally */
  /* Add space between image and text */
}

.about-me img {
  border-radius: 50%;
  border: 3px solid var(--pink); /* Pink border with 5px thickness */
  margin: 0 auto; /* Center the image horizontally */
  animation: pulse 3s ease-in-out; /* Apply the pulse animation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.about-me .about-content {
  flex-basis: 70%; /* Set the width of the content container */
}


.about-me .section-title {
  font-size: 3rem;
  margin-bottom: 40px;
  color: #e20e8d;
  font-family: var(--font-family-courier);
  letter-spacing: 2px;
  text-shadow: 2px 2px #333333;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.about-me p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #CCCCCC;
}

.about-me a {
  color: #FF99CC;
  text-decoration: underline;
}

.about-me a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .about-me {
    flex-direction: column;
    text-align: center;
  }

  .about-me .about-content {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .about-me img {
    margin-bottom: 20px;
  }

  .about-me .section-title {
    font-size: 2.5rem;
  }

  .about-me p {
    font-size: 1rem;
  }
}

.section {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #000000;
  /* Dark grey */
  border-radius: 10px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #e20e8d;
  /* Neon pink */
}

.section-content {
  font-size: 18px;
}

.projects img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e20e8d;
  /* Neon pink */
  border-radius: 5px;
  background-color: #1c1c1c;
  /* Dark input background */
  color: #ffffff;
  /* Light input text */
}

.contact-form button {
  padding: 10px;
  background-color: #e20e8d;
  /* Neon pink */
  color: #000000;
  /* Black button text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.social-links a {
  margin-right: 10px;
  color: #e20e8d;
  /* Neon pink */
  text-decoration: none;
}

/* Skills Section */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill {
  width: 48%;
  margin-bottom: 20px;
}

.skill span {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
  
  /* Neon pink */
}

.progress {
  background-color: #2e2e2e;
  /* Dark grey background for progress bar */
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 20px;
  line-height: 20px;
  color: #ffffff;
  /* Light text */
  text-align: right;
  padding-right: 10px;
  border-radius: 5px;
}

.progress-bar.html {
  width: 95%;
  background-color: var(--orange);
  /* Teal */
}

.progress-bar.css {
  width: 95%;
  background-color: var(--blue);
  /* Yellow */
}

.progress-bar.php {
  width: 80%;
  background-color: var(--php);
}

.progress-bar.javascript {
  width: 95%;
  background-color: var(--yellow);
  /* Neon pink */
}

.progress-bar.python {
  width: 85%;
  background-color: var(--teal);
  /* Dark grey */
}

.progress-bar.wordpress {
  width: 95%;
  background-color: var(--cyan);
  /* Teal */
}

.progress-bar.Powerbi {
  width: 90%;
  background-color: #C0A683;
  /* Teal */
}

.progress-bar.git {
  width: 90%;
  background-color: green;
  /* Teal */
}

/* Projects Section */

.section-title {
  font-size: 2.5em;
  color: #ff007f;
  text-shadow: 2px 2px #333333;
  /* Neon pink */
  text-align: center;
  margin-bottom: 30px;
}

/* Projects Section */
.projects {
  padding: 50px 0;
  background-color: #000000;
}

.section-title {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.projects-slider {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-container {
  display: flex;
  transition: transform 0.5s ease;
  gap: 30px; /* Aumenta el espacio entre las tarjetas */
}

.article-wrapper {
  width: 250px;
  border-radius: 10px;
  overflow: hidden; /* Asegura que el contenido no sobresalga */
  cursor: pointer;
  background-color: white;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
  margin: 0 10px; /* Espacio horizontal entre tarjetas */
}

.article-wrapper:hover {
  -webkit-box-shadow: 10px 10px 0 #ff62b4, 20px 20px 0 #ff007f;
  box-shadow: 10px 10px 0 #ff62b4, 20px 20px 0 #ff007f;
  border-color: #ff62b4;
  -webkit-transform: translate(-20px, -20px);
  -ms-transform: translate(-20px, -20px);
  transform: translate(-20px, -20px);
}

.article-wrapper:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.container-project {
  width: 100%;
  height: 170px;
  background: gray;
}

.container-project img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsión */
}

.project-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-title {
  font-size: 1.5em;
  margin: 0;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

.flex-pr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-type {
  background: #fc9fff;
  color: black;
  font-weight: bold;
  padding: 0.3em 0.7em;
  border-radius: 15px;
  font-size: 12px;
  letter-spacing: -0.6px;
}

.project-hover {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 9px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}




/* Contact Me Section */
.contact {
  padding: 50px 0;
  text-align: center;
}

.section-title {
  font-size: 2.5em;
  color: #ff007f;
  /* Neon pink */
  margin-bottom: 30px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #000000;
  font-size: 1em;
  background-color: #ffffff;
  /* White background */
  color: #000000;
  /* Black text */
}

.form-group label {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 0.85em;
  color: #888888;
  /* Grey text */
  pointer-events: none;
  transition: all 0.2s ease;
}

.form-group input:focus+label,
.form-group input:not(:placeholder-shown)+label,
.form-group textarea:focus+label,
.form-group textarea:not(:placeholder-shown)+label {
  top: -20px;
  font-size: 0.75em;
  color: #ff007f;
  /* Neon pink */
}

.form-group.form-group-button {
  text-align: center;
}

.submit-button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #ff007f;
  /* Neon pink on hover */
}

/* Footer Section */
.footer-bottom {
  font-size: 20px;
  color: white;
  /* Black text */
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
}

/* Back to Top Button */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff007f; /* Neon pink */
  padding: 10px 15px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  transform: translateY(100px);
  z-index: 1000;
}

.back-to-top.show {
  opacity: 1;
  transform: translateY(0);
}

.back-to-top:hover {
  background-color: #d4006c;
}

/* About Me Section */
.section.about-me {
  display: flex;
  align-items: center;
  padding: 20px;
  /* background-color: #0a0a0a; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border-radius: 10px;
}

.about-me .profile-image {
  width: 200;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
}

.about-content {
  flex: 1;
}

.about-content h2 {
  margin-top: 0;
}

/* Contact Me Section */
.section.contact-me {
  text-align: center;
  padding: 50px 20px;
}

.mailto-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 18px;
  color: #ff007f;
  text-decoration: none;
  border: 1px solid #ff007f;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.mailto-link:hover {
  background-color: #ff007f;
  /* Neon pink */
  color: #ffffff;
  /* White text */
}